.navbar {
  background-color: #20272F; /* Color de fondo del navbar */
}
.navbar-brand {
  font-weight: bold;
  color: #FFFFFF; /* Color del texto del navbar */
}
.nav-link {
  color: #FFFFFF; /* Color del texto de los enlaces */
}
.nav-link:hover {
  color: #00FFDA; /* Color de los enlaces al pasar el ratón */
}
.bi-search {
  font-size: 1.2rem;
}